$contentBackground: #fff;

$bodyBackground: #dcbb9a;

$hColor: #893c00;

$briefBackground: #fadcba;

$aColor: #3d70a1;

$thBackground: #e0e0e0;

$tdBackground: #fff;

$formColor: #808080;

$buttonColor: #3d70a1;

$borderColor: #893c00;

$imgBorderColor: #fff;

$imgOutlineColor: #893c00;

$pColor: #000000;

$tdColor: #000000;

$h1TextTransform: capitalize;

$briefFloat: 'true';