$contentBackground: #3b3b3b;

$bodyBackground: rgba(198, 238, 252, 0.53);

$hColor: #fccd10;

$briefBackground: #fff178;

$aColor: #f5c70f;

$thBackground: #94A34E;

$tdBackground: #677d01;

$formColor: #f5c70f;

$buttonColor: #f5c70f;

$borderColor: #893c00;

$imgBorderColor: #3b3b3b;

$imgOutlineColor: #f5c70f;

$pColor: #fff;

$tdColor: #fff;

$h1TextTransform: uppercase;

$briefFloat: 'false';